Unideckbuildduel/.vs/Unideckbuildduel/v17/.suo
Unideckbuildduel/Unideckbuildduel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Unideckbuildduel/.vs/Unideckbuildduel/FileContentIndex/
Unideckbuildduel/Unideckbuildduel/obj
