Unideckbuildduel/.vs/Unideckbuildduel/FileContentIndex/3d7ab20d-1f60-4ea9-a85d-7981e1c5e1ec.vsidx
Unideckbuildduel/.vs/Unideckbuildduel/FileContentIndex/a75a48e8-4ef9-4494-9ab6-8414ca45e04a.vsidx
Unideckbuildduel/.vs/Unideckbuildduel/v17/.suo
Unideckbuildduel/Unideckbuildduel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Unideckbuildduel/.vs/Unideckbuildduel/FileContentIndex/92acc383-7775-414f-9145-3b99566ca8e5.vsidx
Unideckbuildduel/.vs/Unideckbuildduel/FileContentIndex/ba4c807a-8110-4d26-950c-73533ba37d10.vsidx
test
